<html>
    <head>FORGOT PASSWORD</head>
    <body>
        <h1>Reset Password Page</h1>
        <form action="/re" method="POST">
            <label>Email</label>
            <input type="email" name="email"><br>
            
            <label>New Password</label>
            <input type="password" name="password"><br>
            
            <button type="submit">Reset</button>
        </form>
    </body>
</html> 